.bodywrapper {
  /*padding: auto;*/
  display: grid;
  /*grid-template-columns: fit-content(100%);*/

  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/

  /*gap: 5px;*/
  font-family: 'Raleway', 'Open Sans', Tahoma, Verdana, Segoe, sans-serif;

  /*width: 100vw;*/
  width: 100%;

  overflow-x: hidden;
}

.mainheader {
  /*display: grid;*/
  grid-column: 1 / span 2;

  /*can use if start and end columns varies*/
  /*grid-column: 1 / -1;*/
  /*height: max-content;*/
}

.logopic {
  display: grid;
  place-items: center;
  border: 1px solid green;
  padding: 2em;
}

#profile {
  height: 15em;
  width: 15em;
  border-radius: 50%;
}

.namebanner {
  padding: 1em;
  /*display: grid;*/

  border: 1px solid green;
}

.thename {
  margin: auto;
  text-align: center;
}

.headerquote {
  /*display: grid;*/
  place-items: center;
  border: 1px solid green;
  padding: 0.5em;
  text-align: center;
}

.headerquoteauthor {
  /*display: grid;*/
  place-items: center;
  border: 1px solid green;
  padding: 0.25em;
  text-align: center;
}

.mainnavibar {
  /*display: grid;*/
  grid-column: 1 / span 2;
  /*height: max-content;*/
}

.mainnavibaritems {
  list-style-type: none;
  /*text-align: center;*/

  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  white-space: nowrap;
  /*align-content: center;*/
  border: 1px solid green;
}

.mainnavibaritemslist {
  /*display: inline-block;*/

  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  text-align: center;
  padding: 1rem;
  border: 1px solid green;
}

.contentmain {
  display: grid;
  grid-template-columns: auto auto;
}

.aboutmeeducation {
  padding: 1rem;
  border: 1px solid green;
}

.projectsection {
  padding: 1rem;
  border: 1px solid green;
}

.footerclass {
  padding: 1rem;
  border: 1px solid green;
  grid-column: 1 / span 2;
}
