.bodywrapper {
  /*padding: auto;*/
  display: grid;
  /*grid-template-columns: fit-content(100%);*/

  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
  grid-template-rows: auto auto auto auto;

  /*gap: 5px;*/
  font-family: 'Raleway', 'Open Sans', Tahoma, Verdana, Segoe, sans-serif;

  /*width: 100vw;*/
  width: 100%;

  overflow-x: hidden;

  padding: 2rem 5rem;

  background-color: greenyellow;
  color: black;
}

a {
  text-decoration: none;
}

.navbar-nav a,
.mainnavibaritems a {
  text-decoration: none;
}

a:link {
  color: darkgreen;
}

.navbar-nav a:link,
.mainnavibaritems a:link {
  color: black;
}

a:visited {
  color: darkgreen;
}

.navbar-nav a:visited,
.mainnavibaritems a:visited {
  color: black;
}

.navbar-nav a:hover,
.mainnavibaritems a:hover {
  color: black;
}

.outsideul {
  padding: 0;
}

.outsidelist {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.mainheader {
  /*display: grid;*/
  grid-column: 1 / span 2;

  /*can use if start and end columns varies*/
  /*grid-column: 1 / -1;*/
  /*height: max-content;*/

  background-color: oldlace;

  border: 0.25rem solid black;
  border-radius: 25px;
}

.logopic {
  display: grid;
  place-items: center;

  /*border: 1px solid green;*/

  padding: 1.15em;
}

#profile {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  border: 0.15rem solid black;
}

.namebanner {
  padding: 1em;
  /*display: grid;*/

  /*border: 1px solid green;*/

  font-size: 1.15rem;
}

.thename {
  margin: auto;
  text-align: center;
}

.headerquote {
  /*display: grid;*/
  place-items: center;

  /*border: 1px solid green;*/

  padding-top: 0.75em;
  padding-bottom: 0.25em;
  text-align: center;
}

.headerquoteauthor {
  /*display: grid;*/
  place-items: center;

  /*border: 1px solid green;*/

  padding-top: 0.1em;
  padding-bottom: 0.75em;
  text-align: center;
}

.mainnavibar {
  /*display: grid;*/
  grid-column: 1 / span 2;
  /*height: max-content;*/
}

.mainnavibaritems {
  list-style-type: none;
  /*text-align: center;*/

  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  white-space: nowrap;
  /*align-content: center;*/

  /*border: 1px solid green;*/
  /*background-color: powderblue;*/

  /*background-color: oldlace;*/

  /*border: 0.25rem solid black;*/
  /*border-radius: 25px;*/

  font-size: 1.5rem;
  font-weight: 500;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mainnavibaritemslist {
  /*display: inline-block;*/

  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  text-align: center;
  padding: 1vw;
  /*border: 1px solid green;*/

  font-size: 1.15rem;
  font-weight: bold;

  background-color: oldlace;

  border: 0.2rem solid black;
  border-radius: 15px;
}

.contentmain {
  display: grid;
  grid-template-columns: auto auto;

  margin-bottom: 1em;

  /*background-color: powderblue;*/
}

.outsidelist {
  font-weight: 600;
}

.aboutmeeducation {
  padding: 1rem;
  /*border: 1px solid green;*/

  background-color: oldlace;
  border: 0.2rem solid black;
  border-radius: 15px;
}

.projectsection {
  padding: 1rem;
  /*border: 1px solid green;*/

  background-color: oldlace;
  border: 0.2rem solid black;
  border-radius: 15px;
}

.footerclass {
  /*padding: 1rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10vw;
  padding-right: 10vw;

  grid-column: 1 / span 2;

  background-color: oldlace;
  border: 0.2rem solid black;
  border-radius: 15px;

  text-align: center;
}

.navbar-nav {
  display: grid;

  list-style-type: none;
  white-space: nowrap;

  grid-template-columns: 5fr auto 5fr;

  padding-left: 0;
  padding-right: 0;

  font-weight: 500;
}

/*
.nav-item {
  
}
*/

/* For tablets: */
@media (width <= 820px) {
  .bodywrapper {
    padding: 0 0;
  }
}

/* For cellphones: */
@media (width <= 430px) {
  .contentmain {
    display: grid;
    grid-template-columns: auto;
  }
}

/*
@media (max-width: 359px) {
  .bodywrapper {
    background-color: aqua;
    width: 360px;
  }
}
*/
